/* Responsive Select Button Control With Switchers */
.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-header {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-wrapper .customize-control-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1;
	flex: 1;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-wrapper .customize-control-title span:first-child {
	line-height: 20px;
	flex: 1;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-header .res-control-tooltip {
	margin-left: 5px;
	margin-top: 0;
	align-self: center;
	flex-shrink: 0;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-control-with-switchers {
	width: 100%;
	margin-top: 0;
	display: block;
}

.customize-control-responsive-selectbtn-with-switchers .control-wrap {
	display: none;
}

/* .customize-control-responsive-selectbtn-with-switchers .control-wrap.active {
	display: block;
} */

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 0;
}

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn__button {
	flex-grow: 1;
	padding: 8px 10px;
	color: #666;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	cursor: pointer;
	margin: 0;
}

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn__button.active {
	color: white;
	background-color: rgb(30, 115, 190);
	border-color: rgb(30, 115, 190);
}

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn__button.active svg path {
	stroke: #FFF;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-text {
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
}

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn__button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.customize-control-responsive-selectbtn-with-switchers .customize-control-responsive-selectbtn__button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.customize-control-responsive-selectbtn-with-switchers .responsive-selectbtn-icon {
	font-size: 20px;
}


